<div class="col" id="<%= dom_id movie %>">
  <div class="card shadow-sm">
    <%- if movie.preview_img.present? %>
      <%= image_tag movie.preview_img %>
    <% else %>
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    <% end %>


    <div class="card-body">
      <p class="card-text"><%= movie.title %></p>
      <div class="d-flex mb-3">
        <% Rating::MAX_RATING.times do |n| %>
          <%= button_to movie_ratings_path(:rating),
              method: :post,
              params: {rating: {movie_id: movie.id, star: (n + 1)}} do %>
          <%= inline_svg_tag("star.svg",
              style: "width: 20px; height: 20px; #{star_rating_class(movie, n)}") %>
          <% end%>
        <% end %>
      </div>
      
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to movie do %>
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <% end %>
          <% if can? :manage, movie %>
            <%= link_to edit_movie_path(movie) do %>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

