<div id="<%= dom_id movie %>">
  <div class="d-flex bd-highlight mb-3">
  <div class="me-auto p-2 fs-1 bd-highlight"><%= movie.title %></div>
  <div class="p-2 bd-highlight">IMDB-clone rating:
  </div>
  <div class="p-2 bd-highlight"><%= movie.average_rating =%></div>
  </div>
  <div class='text-center'>
    <%= image_tag movie.image_resize if movie.preview_img.present? %>
  </div>
  
  <p>
  <strong> Категорія:</strong>
    <%= link_to movie.category.name, movie.category %>
  </p>
  
  <p>   
    <%= movie.description %>
  </p>
</div>
