<main>

  <div class="album py-5 bg-light">
  
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="movies">

        <% @movies.each do |movie| %>
          <%= render "index_movie", movie: movie %>
        <% end %>

      </div>
    </div>
  </div>
</main>
