<div class="container">
  
  <%= render @movie %>
  
  <div class='row'>
    <div class='col-6'>
      <%= link_to "Back to movies", movies_path %>
    </div>
    <div class='col-6 text-center'>
      <% if can? :manage, @movie %>
      <%= button_to "Destroy this movie", @movie, method: :delete, form_class: 'd-inline right-position b-success' %>
      <%= button_to "Edit this movie", edit_movie_path(@movie), form_class: 'd-inline right-position b-danger' %>
      <% end %>
    </div>
  </div>
</div>
