<%= form_with(model: @movie) do |form| %>
        
  <div>
    <%= form.select :category_id, options_for_select(@categories.collect{ |cat| [cat.name, cat.id]}) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>