<main>

<% if current_user %> 
  <p>You are <%= current_user.role %>!</p>
  <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  <% else %>
  <%= button_to "Sign in", new_user_session_path %> 
  <% end %>
</main>

# <%= turbo_frame_tag "vote", src: movie_ratings_path %>

(movie_id: movie.id, star: (n + 1))

:rating =>(movie.id: movie_id, star: 7)


<%= button_to movie_ratings_path(:rating),
              method: :post,
              params: {rating: {movie_id: movie.id, star: (n + 1)}} do %>
