<turbo-frame id="rating">
  <% Rating::MAX_RATING.times do |n| %>
    <%= button_to movie_ratings_path(movie_id: movie.id, star: (n + 1)),
        method: :post do %>
    <%= inline_svg_tag("star.svg",
        style: "width: 20px; height: 20px; #{star_rating_class(movie, n)}") %>
    <% end%>
  <% end %>
</turbo-frame>