// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "./actiontext.css";
@import "bootstrap";


.right-position{
  float: right !important;
}

.b-danger {
  background-color: rgb(245, 67, 67) !important;
}

.b-success {
  background-color: greenyellow !important;
}

