<header class="p-2 mb-3 border-bottom bg-info">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%= link_to root_path do %>
          <%= image_tag("logo.png", width: '200px' ) %>
        <% end %>

        <form class="input-group col-12 col-lg-auto mb-3 me-lg-auto me-lg-3 w-50 justify-content-center mb-md-0" role="search">
          <button class="btn btn-light btn-warning bg-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%= t('header.dropdown.category')%></button>
          <ul class="dropdown-menu">
          <% movie_categories.each do |cat| %>
              <li>
                <%= link_to cat.name, movies_path(category: cat.name), class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <%- if user_signed_in? %>
        <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://gitlab.com/uploads/-/system/user/avatar/12332270/avatar.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
          <ul class="dropdown-menu text-small">
            <li><%= link_to t('movies.buttons.new'), new_movie_path, class: "dropdown-item" %></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><%= link_to t('devise.account'), edit_user_registration_path, class: "dropdown-item"%></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= button_to t('devise.logout'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          </ul>
        </div>
      <% else%>
        <div class="text-end">
          <%= link_to new_user_session_path do %>
            <button type="button" class="btn bg-success text-dark me-2"><%= t('devise.sessions.new.sign_in') %></button>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <button type="button" class="btn bg-warning"><%= t('devise.registrations.new.sign_up') %></button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</header>