<!DOCTYPE html>
<html>
  <head>
    <title>ImdbClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.88/dist/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.88/dist/shoelace.js"></script>
    
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= render 'layouts/flash_message'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
